/**
 * Main text.
 */


/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

/**
 * Main content.
 */
.pc-content {
    margin-right: auto;
    margin-left: auto;
    padding-left: $pc-content-padding;
    padding-right: $pc-content-padding;
    background: #fff;
}

/**
 * xxxx
 */

.pc-what-i-can-do, .pc-about-me {
    margin-top: 5em;
}