/**
 * Contact details
 */


/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

/**
 * xxxx
 */
.pc-contact-large-text {
    font-size: 1.2em;
}

.pc-email {
    display: block;
    margin-bottom: 2em;
}

.pc-tel {
    display: inline-block;
    margin-bottom: 2em;
}