/**
 * Main text.
 */


/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

/**
 * Main content.
 */
.pc-content {
    
    background: #fff;
}

.pc-content-margin {
    margin-right: auto;
    margin-left: auto;
    padding-left: $pc-content-padding;
    padding-right: $pc-content-padding;
}

.pc-content-bg-color-odd {
    background: $pc-content-bg-color-odd;
}

/**
 * xxxx
 */

.pc-section {
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.pc-content-title {
    margin-bottom: 1.15em;
}

.pc-img-full-width {
    width: 100%;
    height: auto;
    padding: 1em 0 2em 0;
}

// services icons
.pc-icon-calculator::before {
    background: orange url(../images/icons/calculator.svg) no-repeat;
}

.pc-icon-area-graph::before {
    background: orange url(../images/icons/area-graph.svg) no-repeat;
}

.pc-icon-users::before {
    background: orange url(../images/icons/users.svg) no-repeat;
}

.pc-icon-calculator::before, .pc-icon-area-graph::before, .pc-icon-users::before {
    content: "";
    display: block;
    margin: 1.5em auto 1em auto;
    padding: 2em;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background-size: 50%;
    background-position: 50%;
}






@media all and (min-width: $pc-bp-nav-show-menu) {
    
    .pc-content-margin {
        padding-left: $pc-content-padding-medium;
        padding-right: $pc-content-padding-medium;
    }
    
    .pc-section {
        padding-bottom: 6em;
    }
    
    .pc-img-full-width {
        max-width: 45%;
        float: left;
        padding: 0 3em 3em $pc-content-padding-medium;
        // margin-bottom: 3em;
        // padding: 1em 0 2em 0;
    }
}