/**
 * Copyright and designed by.
 */


/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * xxxx
 */

.pc-footer {
    margin-right: auto;
    margin-left: auto;
    padding: 3em $pc-content-padding 3em $pc-content-padding;
    min-height: 100%;
    background: #666;
    color: white;
}

.pc-footer__link {
    color: #66af10;
}