/**
 * Navigation menu.
 */


/*------------------------------------*\
    #NAV
\*------------------------------------*/

/**
 * Navigation menu
 */

[role="navigation"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 100%;
    // padding: 1em 5% 3em;
    // background: #666;
    color: white;
}

/**
 * Dismiss menu button. Eextends '.pc-button {}'.
 */
.pc-dismiss {
    float: right;
    margin: 2.8em 1em 0.5em 0.5em;
    font-size: 0.8em;
    // margin-right: 1em;
}

.primary-nav {
    margin: 0;
    padding: 1em 0 0 0;
    list-style: none;
}

.primary-nav__item {
    width: 100%;
}

.primary-nav__link {
    display: block;
    font-size: 1.5em;
    padding: 1em 0 0em 1em;
    width: 100%;
    color: #fff;
    // background: #eee;
}

.primary-nav__link:hover, .primary-nav__link:focus {
    color: #fff;
}

.secondary-nav {
    margin: 0;
    list-style: none;
}

.secondary-nav__item {
    width: 100%;
}

.secondary-nav__link {
    display: block;
    width: 100%;
    color: #ddd;
}

.secondary-nav__link:hover, .secondary-nav__link:focus {
    color: #ddd;
}

@media all and (min-width: 35em) {
    
    .pc-dismiss {
        display: none;
    }
    
    body {
        display: table;
    }
    
    [role="navigation"] {
        display: table-caption;
        columns: 5 15em;
    }
}

@media all and (max-width: 35em) {
    
    .cutsthemustard [role="navigation"] {
        width: 75%;
        // min-height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background: #333;
    }
    
    .cutsthemustard .pc-dismiss {
        float: right;
        margin: 2.8em 1em 0.5em 0.5em;
        // margin-right: 1em;
    }
    
    .cutsthemustard .primary-nav {
        padding: 1em 0 0 0;
    }
    
}