/**
 * This site's responsive header...
 * (This is a main comment to descript what happens to the main parts of the 
 * site). Complete after design finished.
 */





/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * HTML, body...........Base elements.
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Skip-to-content......Link that appears on first tab to skip to main content.
 * Logo.................SVG logo with png fallaback.
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */





/*------------------------------------*\
    #BOOTSTRAP
\*------------------------------------*/

$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower





/*------------------------------------*\
    #BOOTSTRAP
\*------------------------------------*/

/**
 * Variables.
 */

$pc-content-padding:              1em;
$pc-content-bg-color-odd:         #ccdeea;





/*------------------------------------*\
    #BASE
\*------------------------------------*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.7em;
}


h1, h2, h3, h4, h5, cite {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    text-align: center;
}


/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/



/**
 * Need to put a wrapper round logo, call to action and content to make menu
 * work. Padding should be on another content.
 */

@media all and (max-width: 35em) {
    
    .cutsthemustard .pc-container {
        transition: all .25s;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        background: #fff;
    }
    
    .cutsthemustard .active .pc-container {
        transform: translateX(-75%);
    }
    
}



/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
 * Buttons
 */

.pc-button {
    display: inline-block;
    border-radius: 0.25em;
    padding: 1em 0.75em;
    text-decoration: none;
    color: #fff;
    background: #66af10;
}

.pc-button:hover, .pc-button:focus {
    text-decoration: underline;
    color: #fff;
}

.pc-button-round {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    padding: 1em 0.75em;
    text-decoration: none;
    color: #fff;
    background: #ccc;
    border: 4px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.65);
}

.pc-button-round:hover {
    background: #eee;
    border: 4px solid #fff;
}

.pc-button-text {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.pc-continue-reading {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -25px;
}

.pc-continue-reading::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17.32px solid #999;
}


.pc-cite {
    display: block;
    width: 100%;
    font-size: 1.2em;
    text-align: right;
    margin: auto;
    padding-right: 1em;
    padding-bottom: 1.5em;
}

.pc-read-more {
    text-align: right;
    margin-right: 0.5em;
}


/**
 * Skip-to-content, menu button & logo
 */

@import "_header.scss";

/**
 * Call to action including bio photo and quote.
 */

@import "_callToAction.scss";

/**
 * Call to action including bio photo and quote.
 */

@import "_content.scss";

/**
 * Call to action including bio photo and quote.
 */

@import "_contact.scss";

/**
 * Navigation menu.
 */

@import "_nav.scss";


/**
 * Copyright and designed by.
 */

@import "_footer.scss";

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}