$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.skip a
{ 
    position:absolute; 
    left:1em; 
    top:-3em;
    font-size: 2em;
    color: #fff;
    background: #76b2aa;
    padding: 0.5em;
    -webkit-border-bottom-right-radius: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    -moz-border-radius-bottomright: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 14px 0px rgba(50, 50, 50, 0.75);
} 
 
.skip a:focus 
{ 
    position: absolute;
    top: 0px;
    outline: 0;
    -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

.pc-logo-container {
  width: 50%;
}

.pc-logo {
  width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
